body{
  margin:0;
  font-family: Helvetica, Arial, sans-serif;
}

/* 가로 배치 */
.container{
  width: calc(100% - 120px);
  margin: 60px auto;
}

/* inline-block 사용 */
.art, .info{
  display: inline-block;
  vertical-align: top;
}

/* ===== 왼쪽 작품 영역 ===== */
.art{
  width: 500px;
  height: 520px;
  position: relative;
}

/* 검정 큰 프레임 */
.frame-black{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
}

/* 보라 프레임 */
.frame-purple{
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 100%;
  background: #6c4fb3;
}

/* 초록 세로 */
.frame-green{
  position: absolute;
  left: 40px;
  top: 120px;
  width: 60px;
  height: 260px;
  background: #007a3d;
}

/* 노랑 */
.yellow{
  position: absolute;
  top: 80px;
  left: 80px;
  width: 340px;
  height: 150px;
  background: #d9ff00;
}

/* 빨강 */
.red{
  position: absolute;
  bottom: 90px;
  left: 80px;
  width: 340px;
  height: 180px;
  background: #ff1a1a;
}

/* 파랑 아래 바 */
.blue-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #2b3ea8;
}

/* ===== 오른쪽 텍스트 ===== */
.info{
  width: 500px;
  margin-left: 80px;
  margin-top: 80px;
}

.info h1{
  font-size: 40px;
  margin-bottom: 30px;
}

.info p{
  font-size: 28px;
  line-height: 1.4;
}
