*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#eee;
}

.art{
  width:520px;
  height:560px;
  position:relative;
}

.black{
  position:absolute;
  width:100%;
  height:100%;
  background:#111;
}

.purple{
  position:absolute;
  top:0;
  right:0;
  width:70px;
  height:100%;
  background:#6b4fb3;
}

.green{
  position:absolute;
  left:40px;
  top:140px;
  width:70px;
  height:260px;
  background:#007a3d;
}

.yellow{
  position:absolute;
  top:90px;
  left:100px;
  width:340px;
  height:150px;
  background:#d9ff00;
}

.red{
  position:absolute;
  bottom:110px;
  left:100px;
  width:340px;
  height:200px;
  background:#ff1a1a;
}

.blue{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:70px;
  background:#2d3fa3;
}
