* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dbeafe; 
  font-family: Arial, sans-serif;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.container {
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

#poem {
  font-size: 24px;
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.5;
}

.fade {
  opacity: 0;
  transition: 0.3s;
}
